<div class="task-menu outline">
    <nav>
        <a href="#">
            <img id="lnk-add-task" src="@Url.Content("~/Images/add.png")" class="icon add" />
        </a>
        <a href="@Url.Action("ShowWall", "Task")">
            <img id="lnk-swim" src="@Url.Content("~/Images/swim-lane.png")" class="icon swim" />
        </a>
    </nav>
</div>