@{
    ViewBag.Title = "tasks@tuskr";
}
@section featured {
    <section>
        <div>
            <hgroup>
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
